
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserLogroLabel" data-translate="proyectoGlobalGamingApp.userLogro.home.createOrEditLabel">Create or edit a User Logro</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userLogro.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userLogro.id" readonly />
        </div>
       <!-- <div class="form-group">
            <label class="control-label" data-translate="proyectoGlobalGamingApp.userLogro.fecha" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" datetime-picker="{{dateformat}}" ng-model="vm.userLogro.fecha" is-open="vm.datePickerOpenStatus.fecha"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>-->

        <div class="form-group">
            <label data-translate="proyectoGlobalGamingApp.userLogro.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userLogro.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="proyectoGlobalGamingApp.userLogro.logro" for="field_logro">Logro</label>
            <select class="form-control" id="field_logro" name="logro" ng-model="vm.userLogro.logro" ng-options="logro as logro.nombre for logro in vm.logroes track by logro.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
