<style>
    .navbar-default {
        background-color: rgba(48, 48, 48, 0.42);
    }

    .navbar {
        min-height:90px;
        margin-bottom:0;
        border:0;
        border-radius:0;
    }

    .navbar-default .navbar-nav>li>a {
        font-size:14px;
        text-transform:uppercase;
        color:#fff;
        line-height: 55px;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color:#4bcaff;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        color: #fff;
        background-color: transparent;
        border-top: 3px solid #4bcaff;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: rgba(48, 48, 48, 0.42);
    }





    #search {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);

        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        -webkit-transform: translate(0px, -100%) scale(0, 0);
        -moz-transform: translate(0px, -100%) scale(0, 0);
        -o-transform: translate(0px, -100%) scale(0, 0);
        -ms-transform: translate(0px, -100%) scale(0, 0);
        transform: translate(0px, -100%) scale(0, 0);

        opacity: 0;
    }

    #search.open {
        -webkit-transform: translate(0px, 0px) scale(1, 1);
        -moz-transform: translate(0px, 0px) scale(1, 1);
        -o-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1);
        opacity: 1;
    }

    .searchRadio{
        position: absolute;
        top: 45%;
        width: 100%;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0);
        font-size: 15px;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }

    #search input[type="search"] {
        position: absolute;
        top: 50%;
        width: 100%;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0);
        font-size: 60px;
        font-weight: 300;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }
    #search .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 61px;
        margin-left: -45px;
    }
    #search .close {
        position: fixed;
        top: 15px;
        right: 15px;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
        opacity: 1;
        padding: 10px 17px;
        font-size: 27px;
    }

</style>

<script>
    $(function () {
        $('a[href="#search"]').on('click', function(event) {
            event.preventDefault();
            $('#search').addClass('open');
            $('#search > form > input[type="search"]').focus();
        });

        $('#search, #search button.close').on('click keyup', function(event) {
            if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
                $(this).removeClass('open');
            }
        });


        //Do not include! This prevents the form from submitting for DEMO purposes only!
        $('form').submit(function(event) {
            event.preventDefault();
            return false;
        })
    });
</script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2 style="color:white;">Gl<img width="50px" height="50px" src="../../../content/images/gg logo.png"/>bal Gaming</h2>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="juego" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-play-circle"></span>&nbsp;
                        <span>Juegos</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="articulo" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                        <span>Noticias</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="sala" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-comment"></span>&nbsp;
                        <span>Salas</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-ext" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.userExt">User Ext</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="mensaje" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.mensaje">Mensaje</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="sala" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-comment"></span>&nbsp;
                                <span data-translate="global.menu.entities.sala">Salas</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="juego" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-play-circle"></span>&nbsp;
                                <span data-translate="global.menu.entities.juego">Juegos</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                                                        <a ui-sref="idioma" ng-click="vm.collapseNavbar()">
                                                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                                            <span data-translate="global.menu.entities.idioma">Idioma</span>
                                                      </a>
                                                   </li>
                        <li ui-sref-active="active">
                            <a ui-sref="articulo" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.entities.articulo">Noticias</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="foto" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.foto">Foto</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="etiqueta" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.etiqueta">Etiqueta</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logro" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.logro">Logro</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="user-logro" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.userLogro">User Logro</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="relacion-usuarios" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.relacionUsuarios">Relacion Usuarios</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="valoracion-juego" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.valoracionJuego">Valoracion Juego</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="pais" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.pais">Pais</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a href="#search" class="glyphicon glyphicon-search"></a>
                </li>
            </ul>

            <div id="search">
                <button type="button" class="close">×</button>
                <script>
                        $('input[name=tipo]').change(function () {
                            $("#introducir").empty();
                            if (this.id == "usuarios") {
                                var contenidoUsuarios = $("<input type='search' value='' placeholder='usuarios' /><button type='submit' class='btn btn-primary'>Buscar</button>");
                                $("#introducir").append(contenidoUsuarios);
                            }
                            if (this.id == "salas") {
                                var contenidoSalas = $("<input type='search' value='' placeholder='salas' /><button type='submit' class='btn btn-primary'>Buscar</button>");
                                $("#introducir").append(contenidoSalas);
                            }
                            if (this.id == "juegos") {
                                var contenidoJuegos = $("<input type='search' value='' placeholder='juegos' /><button type='submit' class='btn btn-primary'>Buscar</button>");
                                $("#introducir").append(contenidoJuegos);
                            }
                        });
                </script>
                <form>
                    <div class="searchRadio">
                        <input  id="usuarios" name="tipo" type="radio" checked>USUARIOS

                        <input id="salas" name="tipo" type="radio" >SALAS

                        <input id="juegos" name="tipo" type="radio">JUEGOS
                    </div>

                    <div id="introducir">
                        <input type='search' value='' placeholder='usuarios' /><button type='submit' class='btn btn-primary'>Buscar</button>
                    </div>
                </form>
            </div>
            <!--<ul class="nav navbar-nav navbar-middle">-->
            <!--TODO BÚSQUEDA AVANZADA-->
            <!--<div class="col-md-3 col-md-pull-9 sidebar">-->
            <!--<div class="widget widget-white">-->
            <!--<div class="widget-header">-->
            <!--<h3>SEARCH</h3>-->
            <!--</div>-->
            <!--<form role="form">-->
            <!--<div class="form-group">-->
            <!--<label for="titulo" >TÍTULO</label>-->
            <!--&lt;!&ndash;wtf&ndash;&gt;-->
            <!--<input type="text" class="form-control" ng-model="vm.juegosByFilters.titulo">-->
            <!--</div>-->
            <!--<input type="submit" name="submit" value="{{ 'ProyectoGlobalGamingApp.juego.simpleSearch' | translate }}" class="btn btn-success btn-block" ng-click="vm.searchByFilters()">-->
            <!--</form>-->
            <!--</div>-->
            <!--</div>-->
            <!--</ul>-->
        </div>
    </div>
</nav>
