<div>
    <h2 data-translate="proyectoGlobalGamingApp.sala.home.title">Salas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sala.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="proyectoGlobalGamingApp.sala.home.createLabel">
                        Create new Sala
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span data-translate="proyectoGlobalGamingApp.sala.nombre">Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imagen"><span data-translate="proyectoGlobalGamingApp.sala.imagen">Imagen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="limiteUsuarios"><span data-translate="proyectoGlobalGamingApp.sala.limiteUsuarios">Limite Usuarios</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descripcion"><span data-translate="proyectoGlobalGamingApp.sala.descripcion">Descripcion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="juego.titulo"><span data-translate="proyectoGlobalGamingApp.sala.juego">Juego</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="sala in vm.salas track by sala.id">
                    <td><a ui-sref="sala-detail({id:sala.id})">{{sala.id}}</a></td>
                    <td>{{sala.nombre}}</td>
                    <td>
                        <a ng-if="sala.imagen" ng-click="vm.openFile(sala.imagenContentType, sala.imagen)">
                            <img data-ng-src="{{'data:' + sala.imagenContentType + ';base64,' + sala.imagen}}" style="max-height: 30px;" alt="sala image"/>
                        </a>
                        <span ng-if="sala.imagen">{{sala.imagenContentType}}, {{vm.byteSize(sala.imagen)}}</span>
                    </td>
                    <td>{{sala.limiteUsuarios}}</td>
                    <td>{{sala.descripcion}}</td>
                    <td>
                        <a ui-sref="juego-detail({id:sala.juego.id})">{{sala.juego.titulo}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sala-detail({id:sala.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sala.edit({id:sala.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sala.delete({id:sala.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="widget widget-white">
            <div class="widget-header">
                <h3>SEARCH</h3>
            </div>
            <form role="form">
                <div class="form-group">
                    <label>NOMBRE</label>
                    <input type="text" class="form-control" ng-model="vm.salasByFilters.nombre">
                </div>
                <div class="form-group">
                    <label>DESCRIPCIÓN</label>
                    <input type="text" class="form-control" ng-model="vm.salasByFilters.descripcion">
                </div>
                <div class="form-group">
                    <label>MÍNIMO - LÍMITE DE USUARIOS</label>
                    <input type="number" class="form-control" ng-model="vm.salasByFilters.minLimiteUsuarios">
                </div>
                <div class="form-group">
                    <label>MÁXIMO - LÍMITE DE USUARIOS</label>
                    <input type="number" class="form-control" ng-model="vm.salasByFilters.maxLimiteUsuarios">
                </div>
                <div class="form-group">
                    <label>JUEGO</label>
                    <input type="text" class="form-control" ng-model="vm.salasByFilters.juego">
                    <!--<select class="form-control" ng-model="vm.salasByFilters.juego" ng-repeat="sala in vm.listsala">-->
                        <!--<option selected value>-Selecciona un idioma-</option>-->
                        <!--<option value="{{sala.juego}}">{{sala.juego}}</option>-->
                    <!--</select>-->
                </div>

                <input type="submit" name="submit" value="buscar" class="btn btn-success btn-block" ng-click="vm.salaByFilters()">
                <!--{{ 'ProyectoGlobalGamingApp.juego.simpleSearch' | translate }}-->
            </form>
        </div>
    </div>

    <div>
        <label>RESULTADOS: </label>
        <ul ng-repeat="sala in vm.listSala">
            <li><a ng-href="/#/sala/{{sala.id}}"><img ng-src="data:image/jpeg;base64,{{sala.imagen}}" width="50px"> {{sala.nombre}}</a></li>
        </ul>
    </div>
</div>
