<style>
    body{
        margin-top: 115px !important;
    }
</style>
<div>
    <h2 data-translate="proyectoGlobalGamingApp.valoracionJuego.home.title">Valoracion Juegos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="valoracion-juego.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="proyectoGlobalGamingApp.valoracionJuego.home.createLabel">
                        Create new Valoracion Juego
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valoracion"><span data-translate="proyectoGlobalGamingApp.valoracionJuego.valoracion">Valoracion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timeStamp"><span data-translate="proyectoGlobalGamingApp.valoracionJuego.timeStamp">Time Stamp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span data-translate="proyectoGlobalGamingApp.valoracionJuego.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="juego.titulo"><span data-translate="proyectoGlobalGamingApp.valoracionJuego.juego">Juego</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="valoracionJuego in vm.valoracionJuegos track by valoracionJuego.id">
                    <td><a ui-sref="valoracion-juego-detail({id:valoracionJuego.id})">{{valoracionJuego.id}}</a></td>
                    <td>{{valoracionJuego.valoracion}}</td>
                    <td>{{valoracionJuego.timeStamp | date:'medium'}}</td>
                    <td>
                        {{valoracionJuego.user.login}}
                    </td>
                    <td>
                        <a ui-sref="juego-detail({id:valoracionJuego.juego.id})">{{valoracionJuego.juego.titulo}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="valoracion-juego-detail({id:valoracionJuego.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="valoracion-juego.edit({id:valoracionJuego.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="valoracion-juego.delete({id:valoracionJuego.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
