
<div>
    <!--<h2><span data-translate="proyectoGlobalGamingApp.articulo.detail.title">Articulo</span> {{vm.articulo.id}}</h2>-->
    <center>
    <h1><span>{{vm.articulo.titulo}}</span></h1>

    <p><span class="glyphicon glyphicon-time"></span> {{vm.articulo.fecha | date:'mediumDate'}}</p>
    <img  src="../../../content/images/mario.jpg" height="640" width="640"/>
    </center>
    <br>
    <div style="width:80%; margin:0 auto" class="row "><span>{{vm.articulo.texto}}</span></div>
    <iframe width="560" height="315" ng-src="{{vm.articulo.url}}" frameborder="0" allowfullscreen></iframe>
    <!--<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&width=142&height=20&appId" width="142" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>-->
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <!--<dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="proyectoGlobalGamingApp.articulo.titulo">Titulo</span></dt>
        <dd>
            <span>{{vm.articulo.titulo}}</span>
        </dd>
        <dt><span data-translate="proyectoGlobalGamingApp.articulo.fecha">Fecha</span></dt>
        <dd>
            <span>{{vm.articulo.fecha | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="proyectoGlobalGamingApp.articulo.url">Url</span></dt>
        <dd>
            <span>{{vm.articulo.url}}</span>
        </dd>
        <dt><span data-translate="proyectoGlobalGamingApp.articulo.visitas">Visitas</span></dt>
        <dd>
            <span>{{vm.articulo.visitas}}</span>
        </dd>
        <dt><span data-translate="proyectoGlobalGamingApp.articulo.comentarios">Comentarios</span></dt>
        <dd>
            <span>{{vm.articulo.comentarios}}</span>
        </dd>
        <dt><span data-translate="proyectoGlobalGamingApp.articulo.texto">Texto</span></dt>
        <dd>
            <span>{{vm.articulo.texto}}</span>
        </dd>
        <dt><span data-translate="proyectoGlobalGamingApp.articulo.foto">Foto</span></dt>
        <dd>
            <div ng-if="vm.articulo.foto">
                <a ng-click="vm.openFile(vm.articulo.fotoContentType, vm.articulo.foto)">
                    <img data-ng-src="{{'data:' + vm.articulo.fotoContentType + ';base64,' + vm.articulo.foto}}" style="max-width: 100%;" alt="articulo image"/>
                </a>
                {{vm.articulo.fotoContentType}}, {{vm.byteSize(vm.articulo.foto)}}
            </div>
        </dd>
        <dt><span data-translate="proyectoGlobalGamingApp.articulo.etiqueta">Etiqueta</span></dt>
        <dd>
            <span ng-repeat="etiqueta in vm.articulo.etiquetas">
                <a ui-sref="etiqueta-detail({id: etiqueta.id})">{{etiqueta.nombre}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>-->

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="articulo-detail.edit({id:vm.articulo.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
