<div>
    <h2 data-translate="proyectoGlobalGamingApp.juego.home.title">Juegos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="juego.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="proyectoGlobalGamingApp.juego.home.createLabel">
                        Create new Juego
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="titulo"><span data-translate="proyectoGlobalGamingApp.juego.titulo">Titulo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="portada"><span data-translate="proyectoGlobalGamingApp.juego.portada">Portada</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descripcion"><span data-translate="proyectoGlobalGamingApp.juego.descripcion">Descripcion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="trailer"><span data-translate="proyectoGlobalGamingApp.juego.trailer">Trailer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="desarrollador"><span data-translate="proyectoGlobalGamingApp.juego.desarrollador">Desarrollador</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="genero"><span data-translate="proyectoGlobalGamingApp.juego.genero">Genero</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="edadRecomendada"><span data-translate="proyectoGlobalGamingApp.juego.edadRecomendada">Edad Recomendada</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaLanzamiento"><span data-translate="proyectoGlobalGamingApp.juego.fechaLanzamiento">Fecha Lanzamiento</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="capacidadJugadores"><span data-translate="proyectoGlobalGamingApp.juego.capacidadJugadores">Capacidad Jugadores</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valoracionWeb"><span data-translate="proyectoGlobalGamingApp.juego.valoracionWeb">Valoracion Web</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valoracionUsers"><span data-translate="proyectoGlobalGamingApp.juego.valoracionUsers">Valoracion Users</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="juego in vm.juegos track by juego.id">
                    <td><a ui-sref="juego-detail({id:juego.id})">{{juego.id}}</a></td>
                    <td>{{juego.titulo}}</td>
                    <td>
                        <a ng-if="juego.portada" ng-click="vm.openFile(juego.portadaContentType, juego.portada)">
                            <img data-ng-src="{{'data:' + juego.portadaContentType + ';base64,' + juego.portada}}" style="max-height: 30px;" alt="juego image"/>
                        </a>
                        <span ng-if="juego.portada">{{juego.portadaContentType}}, {{vm.byteSize(juego.portada)}}</span>
                    </td>
                    <td>{{juego.descripcion}}</td>
                    <td>{{juego.trailer}}</td>
                    <td>{{juego.desarrollador}}</td>
                    <td>{{juego.genero}}</td>
                    <td>{{juego.edadRecomendada}}</td>
                        <td>{{juego.fechaLanzamiento | date:'mediumDate'}}</td>
                    <td>{{juego.capacidadJugadores}}</td>
                    <td>{{juego.valoracionWeb}}</td>
                    <td>{{juego.valoracionUsers}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="juego-detail({id:juego.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="juego.edit({id:juego.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="juego.delete({id:juego.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="proyectoGlobalGamingApp.juego.titulo" for="field_titulo">Titulo</label>-->
            <!--<input type="text" class="form-control" name="titulo" id="field_titulo"-->
                   <!--ng-model="vm.juegosByFilters.titulo"-->
            <!--/>-->
        <!--</div>-->

        <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.loadByFilters()">-->
            <!--<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>-->
        <!--</button>-->

    </div>

    <div>
        <div class="widget widget-white">
            <div class="widget-header">
                <h3>SEARCH</h3>
            </div>
            <form role="form">
                <div class="form-group">
                    <label>TÍTULO</label>
                    <input type="text" class="form-control" ng-model="vm.juegosByFilters.titulo">
                </div>
                <div class="form-group">
                    <label>DESCRIPCIÓN</label>
                    <input type="text" class="form-control" ng-model="vm.juegosByFilters.descripcion">
                </div>
                <div class="form-group">
                    <label>DESARROLLADOR</label>
                    <input type="text" class="form-control" ng-model="vm.juegosByFilters.desarrollador">
                </div>
                <div class="form-group">
                    <label>GÉNERO</label>
                    <input type="text" class="form-control" ng-model="vm.juegosByFilters.genero">
                </div>
                <div class="form-group">
                    <label>EDAD RECOMENDADA</label>
                    <input type="number" class="form-control" ng-model="vm.juegosByFilters.edadRecomendada">
                </div>
                <div class="form-group">
                    <label>MÍNIMO - CAPACIDAD DE JUGADORES</label>
                    <input type="number" class="form-control" ng-model="vm.juegosByFilters.minCapacidadJugadores">
                </div>
                <div class="form-group">
                    <label>MÁXIMO - CAPACIDAD DE JUGADORES</label>
                    <input type="number" class="form-control" ng-model="vm.juegosByFilters.maxCapacidadJugadores">
                </div>
                <div class="form-group">
                    <label>MÍNIMO - VALORACIÓN DE LA WEB</label>
                    <input type="number" class="form-control" ng-model="vm.juegosByFilters.minValoracionWeb">
                </div>
                <div class="form-group">
                    <label>MÁXIMO - VALORACIÓN DE LA WEB</label>
                    <input type="number" class="form-control" ng-model="vm.juegosByFilters.maxValoracionWeb">
                </div>
                <div class="form-group">
                    <label>MÍNIMO - VALORACIÓN DE LOS USUARIOS</label>
                    <input type="number" class="form-control" ng-model="vm.juegosByFilters.minValoracionUsers">
                </div>
                <div class="form-group">
                    <label>MÁXIMO - VALORACIÓN DE LOS USUARIOS</label>
                    <input type="number" class="form-control" ng-model="vm.juegosByFilters.maxValoracionUsers">
                </div>
                <div class="form-group">
                    <label>IDIOMA</label>
                    <!--<input type="text" class="form-control" ng-model="vm.juegosByFilters.idioma">-->
                    <select class="form-control" ng-model="vm.juegosByFilters.idioma">
                        <option selected value>-Selecciona un idioma-</option>
                        <option value="Español">Español</option>
                        <option value="Inglés">Inglés</option>
                    </select>
                </div>

                <input type="submit" name="submit" value="buscar" class="btn btn-success btn-block" ng-click="vm.juegoByFilters()">
                <!--{{ 'ProyectoGlobalGamingApp.juego.simpleSearch' | translate }}-->
           </form>
        </div>
    </div>

    <div>
        <label>RESULTADOS: </label>
        <ul ng-repeat="juego in vm.listJuego">
            <li><a ng-href="/#/juego/{{juego.id}}"><img ng-src="data:image/jpeg;base64,{{juego.portada}}" width="50px"> {{juego.titulo}}</a></li>
        </ul>

        <!--<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="property in vm.listByFilter | orderBy:vm.orderCriteria.criteria:vm.orderCriteria.rev | filter:vm.quickSearch track by property.id">-->
            <!--<div class="property-container">-->
                <!--<div class="property-image">-->
                    <!--&lt;!&ndash;{{property.photos}}&ndash;&gt;-->
                    <!--<img data-ng-src="{{'data:' + property.photos[0].imageContentType + ';base64,' + property.photos[0].image}}" ui-sref="property.detail({id:property.id})" style="max-height: 180px;"/>-->
                    <!--<div class="property-price">-->
                        <!--<span>{{property.price}}€</span>-->
                    <!--</div>-->
                    <!--<div class="property-status">-->
                        <!--<span data-translate="{{'assessoriaTorrellesApp.property.ServiceType.' + property.serviceType}}">For Rent</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="property-features">-->
                    <!--<span><i class="fa fa-home"></i> {{property.m2}} m<sup>2</sup></span>-->
                    <!--<span><i class="fa fa-hdd-o"></i> {{property.numberBedroom}}</span>-->
                    <!--<span><i class="fa fa-male"></i> {{property.numberBedroom}}</span>-->
                <!--</div>-->
                <!--<div class="property-content">-->
                    <!--<h3><a ui-sref="property.detail({id:property.id})" data-translate="{{'assessoriaTorrellesApp.property.BuildingType.' + property.buildingType}}">{{property.buildingType}}</a> <small>{{property.location.town}}</small></h3>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->



    </div>
</div>
