<style>
    body{
        margin-top: 115px !important;
    }
</style>
<div>

    <!--  <h2><span data-translate="proyectoGlobalGamingApp.juego.detail.title"></span></h2>-->
    <jhi-alert-error></jhi-alert-error>
    <div class="container">
        <div  style="display:inline-block">
        <button  type="submit"
                 ui-sref="{{ vm.previousState }}"
                 class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
        </button>
        </div>
        <div has-any-authority="ROLE_ADMIN" style="display:inline-block">
            <button type="button" ui-sref="juego-detail.edit({id:vm.juego.id})" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
            </button>
        </div>
        <h1 style="color:black;text-align:center;">{{vm.juego.titulo}}</h1>
        <div  ng-if="vm.juego.portada">
            <div class="jumbotron">
                <div ng-if="vm.juego.portada"  class="col-xs-4">
                    <a ng-click="vm.openFile(vm.juego.portadaContentType, vm.juego.portada)">
                        <img data-ng-src="{{'data:' + vm.juego.portadaContentType + ';base64,' + vm.juego.portada}}" style="max-width: 100%;" alt="juego image"/>
                    </a>
                    {{vm.juego.portadaContent}}
                </div>
                <style>
                    #inputValoracion{
                        width:30%;
                    }
                </style>
                <div></div> <div class="col-xs-8"><label>Valoración Web:</label> {{vm.juego.valoracionWeb}}/5<div class="col-xs-8"><label>Valoración Usuarios:</label> {{vm.juego.stats.average}}/5        <div class="form-group" id="diValoracion">
                <label class="control-label"
                       data-translate="proyectoGlobalGamingApp.juego.valoracion"
                       for="field_valoracion">Valoracion</label>
                <input id="inputValoracion" type="text" class="form-control" name="valoracion" id="field_valoracion"
                       ng-model="vm.juego.valoracion"/>

                <button  class="btn btn-primary btn-lg" onclick="comprobarCheck();" ng-click="vm.addValoracion()">
                    Valorar
                </button>
                <script>
                    function comprobarCheck(){
                        var inputValoracion = $('#inputValoracion').val();
                        if(inputValoracion != '') {
                            alertify.success('Valoración insertada correctamente');
                            $("#diValoracion").empty();
                        }
                    };

                </script>
            </div>
                <hr class="my-2">
                <p class="lead"><label>Desarrollador:</label> {{vm.juego.desarrollador}}</p>
                <p><label>Fecha Lanzamiento:</label> {{vm.juego.fechaLanzamiento | date:'mediumDate'}}</p>
                <p><label>Edad Recomendada:</label> {{vm.juego.edadRecomendada}}</p>
                <p><label>Genero:</label> {{vm.juego.genero}}</p>
                <p class="lead">
                </p>
            </div>

        </div>
        <!--<dl class="dl-horizontal jh-entity-details">-->
        <!--<dt><span data-translate="proyectoGlobalGamingApp.juego.titulo">Titulo</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.juego.titulo}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoGlobalGamingApp.juego.portada">Portada</span></dt>-->
        <!--<dd>-->
        <!--<div ng-if="vm.juego.portada">-->
        <!--<a ng-click="vm.openFile(vm.juego.portadaContentType, vm.juego.portada)">-->
        <!--<img data-ng-src="{{'data:' + vm.juego.portadaContentType + ';base64,' + vm.juego.portada}}" style="max-width: 100%;" alt="juego image"/>-->
        <!--</a>-->
        <!--{{vm.juego.portadaContent}}, {{vm.byteSize(vm.juego.portada)}}-->
        <!--</div>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoGlobalGamingApp.juego.descripcion">Descripcion</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.juego.descripcion}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoGlobalGamingApp.juego.trailer">Trailer</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.juego.trailer}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoGlobalGamingApp.juego.desarrollador">Desarrollador</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.juego.desarrollador}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoGlobalGamingApp.juego.genero">Genero</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.juego.genero}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoGlobalGamingApp.juego.edadRecomendada">Edad Recomendada</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.juego.edadRecomendada}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoGlobalGamingApp.juego.fechaLanzamiento">Fecha Lanzamiento</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.juego.fechaLanzamiento | date:'mediumDate'}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoGlobalGamingApp.juego.capacidadJugadores">Capacidad Jugadores</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.juego.capacidadJugadores}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoGlobalGamingApp.juego.valoracionWeb">Valoracion Web</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.juego.valoracionWeb}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoGlobalGamingApp.juego.valoracionUsers">Valoracion Users</span></dt>-->
        <!--<dd>-->
        <!--<span>{{vm.juego.valoracionUsers}}</span>-->
        <!--</dd>-->
        </dl>
    </div>
</div>
